{% extends "layout.html" %}

{% block title %}
    Book Collection
{% endblock %}

{% block body %}
    <h1>Welcome to Doco Book Store</h1>

    <form action="{{ url_for('store',storevisit=1) }}" method="post">

        <div class="form-group">
            <input class="form-control" name="userid" placeholder="username" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" type="password"" placeholder="Password" required>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Login</button>
        </div>

    </form>
    <form action="{{ url_for('registration') }}" message="",method="post">
      <div class="form-group">
          <button class="btn btn-primary">New Registration</button>
      </div>
    </form>

    {{ message }}
{% endblock %}
